@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, Arial;
    padding: 0px;
    margin: 0px;
}

img {
    height: 50px;
    width: 50px;
}

.container {
    display: flex;
}

.sidebar {
    background-color: rgb(64, 187, 236);
    padding: 15px;
    width: 750px;
    font-weight: bold;
}

.option {
    display: flex;
    gap: 8px;
    align-items: center;
}

.settings {
    margin-top: 60px;
}

.option img {
    width: 20px;
    height: 20px;
}

.sidebar .title {
    display: flex;
    font-size: 32px;
    align-items: center;
    gap: 15px;
    padding-right: 50px;
}

.options {
    margin-left: 20px;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 7px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.greeting-area {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px;
}

.greeting-area img {
    border-radius: 100px;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.content {
    display: flex;
    padding: 7px;
}